/* Primary Color Scheme and Typography*/
:root {
  /*Fonts*/
  --titleFontFamily: "Arial Rounded MT Bold", "Helvetica Rounded", Arial,
    sans-serif;
  --bodyFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /*Colors*/
  --primarynavy: #1f304f;
  --primarywhite: #f3f2ee;
  --primaryblack: #201c0f;
  --secondaryred: #b22b25;
  --headerColor: #201c0f;
  --bodyTextColor: #434343;
  --bodyTextColorWhite: #fafbfc;
  --linkColor: #0071a5;
  /*Font Sizes*/
  --titleFontSize: 65px;
  --headerFontSize: 38px;
  --secondaryHeaderFontSize: 33px;
  --tertiaryHeaderFontSize: 25px;
  --bodyFontSize: 25px;
}

/* STRUCTURAL ELEMENTS */
/* 1. BODY */
body {
  margin: 0;
}
.wrapper {
  display: flex;
}

/* Styling for Margins */
.colormargins {
  background-color: #f3f2ee;
}
.mainbackground {
  background-color: #f3f2ee;
}

.title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  text-align: left;
  color: var(--primarywhite);
}

.primaryheader {
  margin: 0 auto;
  font-family: var(--bodyFontFamily);
  font-size: var(--headerFontSize);
  color: var(--primaryblack);
  font-weight: bolder;
  text-align: center;
}

.secondaryheader {
  font-family: var(--bodyFontFamily);
  font-size: var(--secondaryHeaderFontSize);
  color: var(--primaryblack);
  margin: 0 auto;
  font-weight: bold;
}
.tertiaryHeader {
  font-family: var(--bodyFontFamily);
  font-size: var(--tertiaryHeaderFontSize);
  text-align: left;
  color: var(--headerColor);
}
.primaryBody {
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
  color: var(--bodyTextColor);
}

/* button */
.add-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f304f;
  color: #f3f2ee;
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.btn:hover {
  background-color: red;
}

/* Calendar Page */
.margin-left {
  flex: 2;
  border-right: #201c0f;
  border-right-style: solid;
  padding: 3rem;
}
.page-content {
  flex: 7;
  padding: 2rem;
}
.margin-right {
  flex: 2;
  border-left: #201c0f;
  border-left-style: solid;
  padding: 3rem;
}
