/* Primary Color Scheme and Typography*/
:root {
  /*Fonts*/
  --titleFontFamily: "Arial Rounded MT Bold", "Helvetica Rounded", Arial,
    sans-serif;
  --bodyFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /*Colors*/
  --primarynavy: #1f304f;
  --primarywhite: #f3f2ee;
  --primaryblack: #201c0f;
  --secondaryred: #b22b25;
  --headerColor: #201c0f;
  --bodyTextColor: #434343;
  --bodyTextColorWhite: #fafbfc;
  --linkColor: #0071a5;
  /*Font Sizes*/
  --titleFontSize: 65px;
  --headerFontSize: 38px;
  --secondaryHeaderFontSize: 33px;
  --tertiaryHeaderFontSize: 25px;
  --bodyFontSize: 25px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STRUCTURAL ELEMENTS */
/* 1. BODY */
body {
  margin: 0;
}
.wrapper {
  display: flex;
}

/* Styling for Margins */
.colormargins {
  background-color: #f3f2ee;
}
.mainbackground {
  background-color: #f3f2ee;
}

.title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  color: var(--primarywhite);
  align-items: center;
  justify-content: center;
  padding-left: 8rem;
  padding-top: 4rem;
}

.primaryheader {
  margin: 0 auto;
  font-family: var(--bodyFontFamily);
  font-size: var(--headerFontSize);
  color: var(--primaryblack);
  font-weight: bolder;
  text-align: center;
}

.secondaryheader {
  font-family: var(--bodyFontFamily);
  font-size: var(--secondaryHeaderFontSize);
  color: var(--primaryblack);
  margin: 0 auto;
  font-weight: bold;
}
.tertiaryHeader {
  font-family: var(--bodyFontFamily);
  font-size: var(--tertiaryHeaderFontSize);
  text-align: left;
  color: var(--headerColor);
}
.primaryBody {
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
  color: var(--bodyTextColor);
  padding-top: 20px;
  padding-bottom: 20px;
}
.btncolor {
  background-color: var(--primarynavy);
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
  color: var(--bodyTextColor);
}

/* button */
.add-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f304f;
  color: #f3f2ee;
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.btn:hover {
  background-color: red;
}

.add-btn2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primarynavy);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block; /* Change to inline-block to make it only as wide as its content */
  margin-top: 10px; /* Adjust the margin as needed */
}
/*Home Page*/
.container {
  width: 98%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
}

.titleContainers {
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto;
  overflow: hidden; /* Clear the float */
  background-color: var(--primarynavy);
}

.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  background-color: var(--primarynavy);
}
#aboutSection {
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 50px;
}
#involvementSection {
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.titleContainers {
  width: 100%;
  display: flex;
}

.column1 {
  flex: 1;
}

.column2 {
  flex: 1;
}

.involvementSection {
  display: flex;
  flex-wrap: wrap;
}

.involvementImage {
  flex: 1;
  max-width: 50%; /* Adjust the width of the image as needed */
}

.involvementText {
  flex: 1;
  max-width: 50%; /* Adjust the width of the text as needed */
}

/* Calendar Page */
.margin-left {
  flex: 2;
  border-right: #201c0f;
  border-right-style: solid;
  padding: 3rem;
}
.page-content {
  flex: 7;
  padding: 2rem;
}
.margin-right {
  flex: 2;
  border-left: #201c0f;
  border-left-style: solid;
  padding: 3rem;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  margin-bottom: 20px;
  text-align: center;
  height: 200px;
  width: 500px;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: x-large;
}

.philanthropy-event {
  background-color: #e87531;
  color: #fafbfc;
}

.prof-dev-event {
  background-color: #e8a32a;
  color: #fafbfc;
}

.speaker-event {
  background-color: #476d3d;
  color: #fafbfc;
}

.social-event {
  background-color: #0071a5;
  color: #fafbfc;
}

.events-button {
  color: #fafbfc;
  text-decoration: none;
  border: 3px #fafbfc solid;
  padding: 1rem 1rem;
}

.heading-tag-upcoming-event {
  font-size: xx-large;
  text-align: center;
  color: #201c0f;
}
